<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <table cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <td
            valign="top"
            style="padding-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px;"
          >
            Hi, <span
              style="text-align: left; color: #000000; font-family: 'Arial', sans-serif; font-size: 10pt; font-weight: bold"
              >{{firstName}} {{lastName}}</span
            ><br />
            <br />
          </td>
        </tr>

        <tr>
          <td
            valign="top"
            style="padding-left: 0px; padding-top: 7px; padding-bottom: 4px; padding-right: 0px;"
          >
            Please click following link to confirm your email:
            <br />
            <a href="{{confirmLink}}"
              >Confirm Link</a>
          </td>
        </tr>


      </tbody>
    </table>
  </body>

  <style>
    a {
      color: #f77a1e;
    }
  </style>
</html>